#main-img {
    width: 30%;
    height: auto;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.data {
    font-weight: bolder;
    font-size: 20pt
}

.data span {
    font-weight: 100;
    font-size: 15pt;
}

#description {
    padding: 0 20px 0 20px;
    font-size: 15pt;
}